* {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        [ng-drag] {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        [ng-drag] {
            display: block;
            cursor:pointer;
        }

        [ng-drag].drag-over {
            border: solid 1px gray;
        }

        [ng-drag].dragging {
            opacity: 0.5;
        }

        [ng-drop] {
            display: block;
            position: relative;
        }

        [ng-drop].drag-enter {
            border: solid 5px gray;
        }

        [ng-drop] span.title {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
        }

        [ng-drop] div {
            position: relative;
            z-index: 2;
        }

        .draglist {
            display: inline-block;
            margin: 0 auto;
        }