<header class="w3-container w3-light-grey w3-padding-16">
    <h3 id="welcome">My Angular.js Amazon DynamoDB shopping / to-do list Application</h3>
    <div id="welcomeMsg" class="w3-container w3-padding-4"></div>
    <div id="facebookLogin" class="w3-container w3-padding-4" ng-show="showFBLogin" style="width: 100%; align: center">
<fb:login-button scope="public_profile,email" onlogin="checkLoginState();" style="display: block; margin: auto;">
</fb:login-button></div>
    <div id="goToSelect" class="w3-container w3-padding-4" ng-show="isLoggedInFb" style="width: 100%; align: center">
        <button  ui-sref="Select" class="w3-btn w3-padding w3-green" style="font-size: 20px; display: block; margin: auto;">Get Started&raquo;</button>
    </div>
    <div id="loading" class="w3-container w3-padding-4" ng-hide="isLoggedInFb||showFBLogin" style="width: 100%; align: center">
        <img src="//dev3.judegustafson.com/Shopping-List-App/images/infinity.gif" style="display: block; margin: auto;">
    </div>
</header>
  
  