<header class="w3-container w3-light-grey w3-padding-4">
    <h3 id="listTitle" ng-bind="listName" ng-click="editName()"></h3>
    <input id="listTitleInput" ng-model="listName" ng-blur="showName()" class="w3-input w3-border w3-padding-16">
  </header>
  <div class="w3-container w3-light-grey w3-padding-4">
    <div class="w3-row">
    <form ng-submit="addItem()" name="addForm">
      <div class="w3-col s10">
        <input id="addField" placeholder="Add shopping items here" ng-model="addMe" class="w3-input w3-border w3-padding">
      </div>
      <div class="w3-col s2">
        <button ng-click="addItem()" class="w3-btn w3-padding w3-green">Add&raquo;</button>
      </div>
    </form>
    </div>
  </div>
  <ul class="w3-ul">
    <li ng-repeat="x in products" class="w3-padding-16" style="text-decoration:{{x.isChecked==true?'line-through':'none'}}" ng-drop="true" ng-drop-success="onDropComplete($index, $data,$event)">
        <div ng-drag="true" ng-drag-data="x" ng-class="x.item" ng-drag-start="onDragStart()">
            <input class="w3-check" type="checkbox" ng-checked="x.isChecked" ng-model="x.isChecked">
            <span>{{x.item}}</span>
            <span ng-click="removeItem($index)" style="cursor:pointer;" class="w3-right w3-margin-right">X</span>
        </div>
    </li>
  </ul>